{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% load thumbnail %}


{% block title %}
    ویرایش اطلاعات
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 pull-right">
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
            {% if user.avatar %}
                <a>
                    {% thumbnail user.avatar "360x170" quality=90 crop='center' as im %}
                        <img src="{{ im.url }}" alt="">
                    {% endthumbnail %}
                </a>
            {% endif %}
            </div>
            <div class="col-md-4">
                <form enctype="multipart/form-data" action="{% url 'edit_profile_page' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="button" type="submit">ثبت</button>
                </form>
            </div>

        </div>
    </div>
{% endblock %}
