{% extends 'shared/_layout.html' %}
{% load thumbnail %}
{% load poll_extras %}
{% load render_partial %}

{% block title %} لیست مقالات {% endblock %}

{% block content %}
<section>
		<div class="container">
			<div class="row">

				<div class="col-sm-9">
					<div class="blog-post-area">
						<h2 class="title text-center">آخریـن مقالات</h2>
						{% for article in articles %}
                            <div class="single-blog-post">
							<h3>{{ article.title}}</h3>
							<div class="post-meta">
								<ul>
                                    {% if article.author is not None %}
									<li><i class="fa fa-user"></i> {{ article.author }}</li>
                                    {% endif %}
									<li><i class="fa fa-clock-o"></i> {{ article.date | show_jalali_time }}</li>
									<li><i class="fa fa-calendar-o"></i> {{ article.date | show_jalali_date }}</li>
								</ul>
								<span>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
								</span>
							</div>
							<a href="">
                                {% thumbnail article.image "862x398" quality=90 crop='center' as im %}
                                        <img src="{{ im.url }}" alt="">
                                {% endthumbnail %}

							</a>
							<p>{{ article.short_description }}</p>
							<a class="btn btn-primary" href="{% url 'article_detail_page' pk=article.pk %}">ادامـه مطلب</a>
						</div>
                        {% endfor %}
						<div class="pagination-area">
							<ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li><a href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
                                {% endif %}
                                {% for pagenum in paginator.page_range %}
                                    <li><a href="?page={{ pagenum }}"
                                      {% if pagenum == page_obj.number %} class="active" {% endif %}> {{ pagenum }}</a>
                                    </li>
                                {% endfor %}

                                 {% if page_obj.has_next %}
                                    <li><a href="?page={{ page_obj.next_page_number }}">بعدی</a></li>
                                {% endif %}

							</ul>
						</div>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="left-sidebar">
                        {% render_partial 'article_module.views.article_category_component' %}

					</div>
				</div>

			</div>
		</div>
	</section>



{% endblock %}